html,
body {
    margin: 0;
    padding: 0;
    font-size: calc(1vw + 1vh + -1vmin);

    /* ms ( IE 10.0+ ) */
    background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 1) 0.14%, rgba(8, 98, 232, 1) 49.35%, rgba(0, 0, 0, 1) 99.46%);

    /* WebKit (Chrome 10.0+, safari 5.1+ )*/
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0.14%, rgba(8, 98, 232, 1) 49.35%, rgba(0, 0, 0, 1) 99.46%);

    /* Moz ( Moz 3.6+ )*/
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0.14%, rgba(8, 98, 232, 1) 49.35%, rgba(0, 0, 0, 1) 99.46%);

    /* Opera ( opera 11.6+ )*/
    background: -o-linear-gradient(180deg, rgba(0, 0, 0, 1) 0.14%, rgba(8, 98, 232, 1) 49.35%, rgba(0, 0, 0, 1) 99.46%);

    /* W3C Markup */
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0.14%, rgba(8, 98, 232, 1) 49.35%, rgba(0, 0, 0, 1) 99.46%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    background: #274c72;
    color: white;
    border: 1px inset #ffe95c;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255, 254, 253, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255, 254, 253, 0.2);
    overflow: hidden;
    text-align: center;
}

#jakpot,
#jakpotlotto,
#jakpotproto {
    position: relative;
    margin-top: -5.5%;
    float: right;
    width: 50%;
    font-size: 1.4em;
    font-weight: bold;
    z-index: 9999;
    color: white;
    vertical-align: middle;
}

#clockdiv,
#clockdiv2,
#clockdiv3,
#clockdiv4,
#clockdiv5 {
    position: relative;
    margin-top: -12%;
    float: right;
    width: 50%;
    font-family: sans-serif;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#clockdiv > div,
#clockdiv2 > div,
#clockdiv3 > div,
#clockdiv4 > div,
#clockdiv5 > div {
    width: 23%;
    display: inline-block;
}

#clockdiv4,
#clockdiv5 {
    margin-top: -9.6%;
}

.smalltext {
    margin-top: -4px;
    font-size: 0.5em;
    color: yellow;
}

.r {
    float: right;
    margin-right: 5px;
}

.l {
    float: left;
    margin-left: 5px;
}

tr:nth-child(even) {
    background-color: #213344;

}

td {
    font-weight: bold;

}

span.fa-circle {
    color: #faee05;
}

.circle {
    color: black;
    font-size: 1.4em;
    font-weight: bolder;
    background-color: #213344;
}

.fa-stack-1x {
    font-size: 1.1em;
}


.ml4 {
    font-weight: 1000;
    font-size: 1.5em;
    color: #faee05;
    font-family: 'Permanent Marker', cursive;
}

.red {
    color: red !important;
}

.flas {
    color: white;
}

#he {
  background-image: url('img/kino-logo.png'); /* Replace 'your-image-url.jpg' with the actual URL of your image */
  background-size:  14%; /* This ensures the image covers the entire background */
  background-position: center; /* This centers the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: flex;
  flex-wrap: wrap;
  }

  #he> span{
    padding: 15px;
    color: #ffffff;
  }

  #first  tr {
    background-color: #213344;
    font-size: 1.25em;
}

#kino {
    height: 40vh;
}
